<div id="imagescontainer">
  
<diw id="imagedetail">
	<%= image_tag @photo.image_url(:detail).to_s %>
</div>

<div id="imagedetailcomment">
	<p>
<b>Comment:</b>
  <%= @photo.comment %>
</p>
	<p>
<b>Tag:</b>
  <%= @photo.tag %>
</p>

<div id="imagedetailbuttons">
	<a href="/photos/<%=@photo.id%>/edit" class="button green">
			Edit
	</a>	
	<a href="/home" class="button red">
			Back
	</a>	
</div>



</div>

</div>