
  <b>Comment:</b>
  <%= @photo.comment %>

</p>
<p>
	<%= image_tag @photo.image_url(:thumb).to_s %>
</p>

<a href="/photos/<%=@photo.id%>/edit" class="button green">
			Edit
</a>	
<a href="/home" class="button red">
			Back
</a>	

