<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>




<a href="/users/<%=@user.id%>/edit" class="button green">
			Edit
</a>	
<a href="/home" class="button red">
			Back
</a>
