<div id="imagescontainer">
	
	<div id="usershowbox">
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
</div>
<div id="usershowbuttons">
	<a href="/users/<%=@user.id%>/edit" style="width:40px;text-align:center" class="button green">
			Edit
</a>	
<a href="/home" style="width:40px;text-align:center" class="button red">
			Back
</a>
</div>
</div>