/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#headnavwrapper{
	box-shadow: 0px 2px 5px #888888;
	height: 3em;
	margin-top: -0.5em;
	margin-left: auto;
	margin-right: auto;
}
#headnav{
	width: 1024px;

	
	height: 3em;
	margin-left: auto;
	margin-right: auto;
}
#leftnav{
	width: 341.3px;
	height: 3em;
}
#middlenav{
	position: relative;
	left: 341.3px;
	top:-3em;
	width: 341.4px;
	height: 3em;
}
#middlelogo{
	width:6em;
	margin-left: auto;
	margin-right: auto;	
}
#rightnav{
	position: relative;
	left: 682.7px;
	top:-6em;
	width: 341.3px;
	height: 3em;
}
#rightbuttons{
	position:absolute;
	z-index: 1;
	left:0em;
	top:-0.3em;
	width: 530px;
	float:right;
}
#noticebox{
	text-align: center;
	width:1024px;
	margin-top: 10px;
	padding:10px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 10px #888888;
}