
#welcomeinfo{
	width: 40em;
	margin-left: auto;
	margin-right: auto;
}
#welcomeword{
	text-align: center;

	line-height: 2em;
	width: 8em;
	height: 2em;
	margin-left: auto;
	margin-right: auto;

	font-size: 30px;
}
#welcomelogo{
	width:25em;

	height:10em;
	background-image:url("logo.png");
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}
#signinform{
	margin-top: 5em;
	width:20em;
	margin-left: auto;
	margin-right: auto;
	
}
input.rounded {
	width:12em;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
input.rounded:focus {
	border-color: #000000;
}