

<div id="welcomeinfo">
	<div id="welcomeword">Welcome back to </div>
	<div id="welcomelogo">
		<a href ="/welcome">
			<%= image_tag "logo.png", :size => '300x90'%>
		</a>
	</div>
</div>
<p><%= @tips %></p>
<div id="signinform">
	
<%= render 'form' %>
</div>

