

	<div id="bigbox">
	<div id="container">
        <% if @pictures != nil%>
		  <% for @picture in @pictures %>
            <div class = "item">
                <a href="photos/<%=@picture.id%>">
                  <div class = "itemimage">
                  <%= image_tag @picture.image_url(:thumb).to_s %>
                  </div>
                </a>
            </div>
          <% end %>
        <% end %>

	</div>
	</div>


<script > 
var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.item',
    columnWidth : 240
  });
});
</script>


