
<div id="title">
<%= image_tag "logo.png", :size => '200x60'%>
</div>
<div id="tips">
	All the pictures you like are here
</div>
<div id="buttonswrapper">
	<div id="buttonsbox">
	<a href="/sessions/new" class="button big">
			Login	
	</a>	
	<a href="/users/new" class="button bigblue">
			Join Pictures
	</a>	
	</div>
</div>
